*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}
.active{
    text-decoration: underline;
    font-weight: bold;
}
body, html{
    overflow-x: hidden;
}

/* Navbar */
.navbar{
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 20px;
    color: whitesmoke;
}
.nav-link{
    display: flex;
    align-items: center;
}
.nav-link li{
    margin: 0 30px;
}
header{
    width: 100vw;
    height: 100vh;
    background-image: url(bg2.png.jpg);
    background-position: bottom;
    background-size: cover;    
    display: flex;
    align-items: flex-end;
    justify-content: center;
}
.header-content{
    margin-bottom: 150px;
    color: whitesmoke;
    text-align: center;
}
.header-content h2{
    font-size: 4vmin;
}
.line{
    width: 150px;
    height: 4px;
    background: #e80966;
    margin: 10px auto;
    border-radius: 5px;
}
.header-content h1{
    font-size: 7vmin;
    margin-top: 40px;
    margin-bottom: 30px;
}
.ctn{
    padding: 8px 15px;
    background: #e80966;
    border-radius: 30px;
    color: whitesmoke;
}
.menu-btn{
    position: absolute;
    top: 30px;
    right: 30px;
    width: 40px;
    cursor: pointer;
    display: none;
}

/* Event */
section{
    width: 80%;
    margin: 80px auto;
}
.title{
    text-align: center;
    font-size: 4vmin;
    color: #068989;
}
.row{
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}
.row .col {
    display: flex;
    flex-direction: column;
    align-items: center;

}
.event .row{
    margin-top: 50px;
}
h4{
    font-size: 3vmin;
    color: #045050;
    margin: 20px auto;
}
p{
    color: #045050;
    padding: 0px 40px;
}
.event .ctn{
    margin-top: 30px;
}
.explore{
    width: 100%;
    height: 100vh;
    background-image: url(img11.png.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
}
.explore-content{
    width: 60%;
    padding: 50px;
    color: white;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.explore-content h1{
    font-size: 7vmin;
}
.explore-content .line{
    margin-bottom: 30px;
}
.explore-content p{
    color: white;
}
.explore-content .ctn{
    margin-top: 30px;
}
.content-col{
    width: 40%;
}
.image-col{
    width: 60%;
}
.tours .image{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    align-items: center;

}
.image img{
    max-width: 300px;
    margin: 10px;
}
.content-col h1{
    font-size: 5vmin;
    color: #068989;
}
.content-col .line{
    margin-left: -1px;
}
.content-col p{
    padding: 0;
    margin: 30px auto;
}
.content-col .ctn{
    margin-left: -100px;
}
.footer{
    width: 100%;
    min-height: 100px;
    padding: 20px 80px;
    margin: 0;
    background: #86bcbc;
    text-align: center;
}
.footer p{
    color: black;
    margin: 20px auto;
}

/* Mobile */
@media only screen and (max-width: 850px){
    .menu-btn{
        display: block;
    }
    .navbar{
        padding: 0;
    }
    .logo{
        position: absolute;
        top: 30px;
        left: 30px;
    }
    .nav-link{
        flex-direction: column;
        width: 100%;
        height: 100vh;
        justify-content: center;
        background: #86bcbc;
        margin-top: -900px;
        transition: all 0.5s ease;
    }
    .mobile-menu{
        margin-top: 0px;
        border-bottom-right-radius: 30%;
    }
    .nav-link li{
        margin: 30px auto;
    }
    /* Events */
    .row{
        flex-direction: column;
    }
    .row .col{
        margin: 20px auto;
    }
    .col img{
        max-width: 90%;
    }
    /* Explore*/
    .explore-content{
        width: 100%;
    }
    .explore-content .ctn{
        margin-top: 20px;
    }
    .tours.col{
        width: 100%;
    }
    .image{
        justify-content: center;
        align-items: center;
    }
    .image img{
        width: 90%;
    }
    .footer{
        padding: 10px;
    }
}

/* animation*/
img{
    transition: transform .3s ease;
}
img:hover{
    transform: scale(1.1);
}
.ctn:hover{
    background: white;
    color: #e80966;
    box-shadow: 2px 2px 5px #00000056;
}
li:hover{
    color: #e80966;
    cursor: pointer;

}